<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OctofyExp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
	<runtime>  
		<gcAllowVeryLargeObjects enabled="true"/>  
	</runtime>  
    <userSettings>	
        <OctofyExp.Properties.Settings>
            <setting name="DateGroupingType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumOfRowOnDoubleClick" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MaxYCategories" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="MaxXCategories" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="SearchPattern" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FrequencyFormSize" serializeAs="String">
                <value>700, 500</value>
            </setting>
            <setting name="FrequencyFormState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CategoryNameMaxLen" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="LastAccessConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>700, 500</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalysisFormSize" serializeAs="String">
                <value>1024, 768</value>
            </setting>
            <setting name="AnalysisFormState" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PreviewDataFormSize" serializeAs="String">
                <value>700, 500</value>
            </setting>
            <setting name="PreviewDataFormState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="MainFormLastTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormBounds" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AnalysisFormBounds" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrequencyFormBounds" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AnalysisFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrequencyFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PreviewDataFormBounds" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PreviewDataFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrequencyFormDateGroupType" serializeAs="String">
                <value>0</value>
            </setting>
        </OctofyExp.Properties.Settings>
    </userSettings>
</configuration>
